<!DOCTYPE html >

<html lang="en" ng-app="eventsApp">
<head>
 <meta charset="utf-8">
    <title>Evet Registration</title>
   
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--  <link href="css/Bootstrap.css" rel="stylesheet" type="text/css" />-->
                                <!--Awesome-->
  
  
  <link href="bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="EditEventDetails.htm" type="text/html" />
      <script src="bower_components/angular/angular.js" type="text/javascript"></script>
      <script src="js/angular-sanitize.js" type="text/javascript"></script>
      <script src="bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js" type="text/javascript"></script>
      <script src="js/Underscore-1.4.4.min.js" type="text/javascript"></script>
      <script src="js/app.js" type="text/javascript"></script>
      <script src="js/Controllers/EventController.js" type="text/javascript"></script>
      <script src="js/Controllers/EditEventController.js" type="text/javascript"></script>
      <script src="js/durationFilterJs.js" type="text/javascript"></script>
      <script src="js/Services/EventDataServices.js" type="text/javascript"></script>
</head>
<body ng-cloak>
<div class="container">
  <div class="navbar">
      <div class="navbar-inner">
      <ul class="nav">
      <li><a href="EditEventDetails.htm">Create Event</a></li>
      </ul>
          <p class=""><center><h2>Event Registration</h2></center></p>
      </div>
  </div>
  <style>.ng-dirty  .ng-invalid{background-color: pink}</style>
  <div ng-controller="EditEventController" >
  <div class="container">
  <h1>New Event</h1>
  <br />
  <form name="newEventForm">
    <fieldset>
      <label for="eventName">Event Name:</label>
      <input id="eventName" type="text" ng-model="event.name"   placeholder="Name of your Event......"/>
      <label for="eventDate">Event Date:</label>
      <input id="eventDate" type="text" ng-model="event.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/"placeholder="Formate (mm//dd//yyyy)...."/>
      <label for="eventTime">Event Time:</label>
      <input id="eventTime" type="text" ng-model="event.time"  placeholder="Time of your Event......"/>
      <label for="eventLocation">Event Location:</label>
      <input id="eventLocation" type="text" ng-model="event.location.address"  placeholder="Location of your Event......"/>
      <br />
      <input id="eventCity" type="text" ng-model="event.location.city"  class="input-small" placeholder="City...."/>
      <input id="eventProvince" type="text" ng-model="event.location.province"  class="input-small" placeholder="Province...."/>
      <label for="eventImageUrl">Image:</label>
      <input id="eventImageUrl" type="url" ng-model="event.imageUrl"  class="input-xlarge" placeholder="Url of Image..........."/>
      <img ng-src={{event.imageUrl}} src=""/>
      <br />
      <br />
     {{event.name}}

      <button type="submit"  ng-disabled="newEventForm.$invalid" ng-click="SaveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
      <button type="submit"  ng-click="EventEditCancel()"class="btn btn-default">Cancel</button>

    </fieldset>
  
  
  </form>
</div>

</body>
</html>
